@import './theme.css';
@import './about.css';
@import './applist.css';
@import './boot_hash.css';
@import './file_selector.css';
@import './header.css';
@import './security_patch.css';
@import './system_app.css';

body {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    margin: 0;
    transition: opacity 0.2s;
}

[unresolved] {
    opacity: 0;
    overflow: hidden;
}

.floating-btn {
    position: fixed;
    bottom: calc(var(--bottom-inset) + 32px);
    right: 16px;
    z-index: 2;
    transition: transform 0.2s ease;
    --md-fab-container-color: var(--md-sys-color-primary-container);
    --md-fab-icon-color: var(--md-sys-color-on-primary-container);
    --md-fab-label-text-color: var(--md-sys-color-on-primary-container);
}

[dir="rtl"] .floating-btn {
    right: unset;
    left: 16px;
}

.floating-btn.hide {
    transform: translateY(200%);
}

.top-inset {
    padding-top: var(--top-inset);
}

.bottom-inset {
    padding-bottom: var(--bottom-inset);
}

.dialog-wrapper {
    z-index: 5;
    position: relative;
}

[slot="headline"] {
    user-select: none;
}

.text-field-dialog {
    margin-top: calc(10% + var(--top-inset));
}

.prompt-container {
    position: fixed;
    margin-bottom: calc(var(--bottom-inset) + 96px);
    background-color: transparent;
    border: none;
    padding: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
}

.prompt {
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    width: calc(100% - 32px);
    max-width: 600px;
    padding: 14px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.2s ease;
}

.prompt.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.prompt.error {
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: var(--md-sys-color-on-surface-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 2;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.uninstall-container {
    --md-outlined-button-container-shape: 12px;
    --md-filled-button-container-color: var(--md-sys-color-error);
    --md-sys-color-on-primary: var(--md-sys-color-on-error);
    display: none;
    width: calc(100% - 32px);
    max-width: 900px;
    margin-top: 8px;
}
